<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cesaraugustocordonbalcarcel.registrosmedicos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Analisis" />
        <activity android:name=".Grabar" />
        <activity android:name=".Registros" />
        <activity android:name=".Codigo" />
        <activity android:name=".Nuevo" />
        <activity android:name=".Principal" />
        <activity android:name=".Estadisticas" />
        <activity android:name=".Registross" />
        <activity android:name=".QRReader" />
        <activity android:name=".NuevoP"></activity>
    </application>

</manifest>